<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">
    <display-name>tracing-example</display-name>

    <servlet>
        <servlet-name>resteasy-dispatcher</servlet-name>
        <servlet-class>
            org.jboss.resteasy.plugins.server.servlet.HttpServletDispatcher
        </servlet-class>
        <init-param>
            <param-name>jakarta.ws.rs.Application</param-name>
            <param-value>org.jboss.resteasy.tracing.examples.TracingApp</param-value>
        </init-param>
        <init-param>
            <param-name>resteasy.server.tracing.type</param-name>
            <param-value>ALL</param-value>
        </init-param>
        <init-param>
            <param-name>resteasy.server.tracing.threshold</param-name>
            <param-value>VERBOSE</param-value>
        </init-param>
    </servlet>

    <servlet-mapping>
        <servlet-name>resteasy-dispatcher</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>

</web-app>