<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <display-name>resteasy-spring-basic</display-name>

    <context-param>
        <param-name>foo</param-name>
        <param-value>bar</param-value>
    </context-param>

    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>classpath:resteasy-spring-basic.xml</param-value>
    </context-param>

    <!--    This must be present, or `SpringContextLoaderListener` will throw error: -->
    <!--    java.lang.RuntimeException: RESTEASY013095: RESTeasy Deployment is null, do you have the ResteasyBootstrap listener configured?-->
    <listener>
        <listener-class>org.jboss.resteasy.plugins.server.servlet.ResteasyBootstrap</listener-class>
    </listener>

    <listener>
        <listener-class>org.jboss.resteasy.plugins.spring.SpringContextLoaderListener</listener-class>
    </listener>

    <servlet>
        <servlet-name>resteasy-dispatcher</servlet-name>
        <servlet-class>org.jboss.resteasy.plugins.server.servlet.HttpServletDispatcher</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>resteasy-dispatcher</servlet-name>
        <url-pattern>/rest/*</url-pattern>
    </servlet-mapping>

    <!--    You can use `FilterDispatcher` instead of `HttpServletDispatcher`. -->
    <!--    The advantage is that if a JAX-RS resource is not found under the URL requested, -->
    <!--    RESTEasy will delegate back to the base servlet container to resolve URLs.-->
    <!--    <filter>-->
    <!--        <filter-name>resteasy-filter</filter-name>-->
    <!--        <filter-class>-->
    <!--            org.jboss.resteasy.plugins.server.servlet.FilterDispatcher-->
    <!--        </filter-class>-->
    <!--    </filter>-->

    <!--    <filter-mapping>-->
    <!--        <filter-name>resteasy-filter</filter-name>-->
    <!--        <url-pattern>/rest/*</url-pattern>-->
    <!--    </filter-mapping>-->
</web-app>
