# This workflow is for a nightly run against WildFly upstream

name: Manual Build

on:
  workflow_dispatch:
    inputs:
      os:
        description: "Runner OS"
        required: true
        default: "ubuntu-latest"
        type: string
      javaVersion:
        description: "Java Version"
        required: true
        default: "11"
        type: choice
        options:
          - "11"
          - "17"

jobs:
  build:
    runs-on: ${{ inputs.os }}

    steps:
      - uses: actions/checkout@v3
      - name: Set up JDK ${{ inputs.javaVersion }}
        uses: actions/setup-java@v3
        with:
          java-version: ${{ inputs.javaVersion }}
          distribution: 'temurin'
          cache: 'maven'
      - name: Build on ${{ inputs.os }} with Java ${{ inputs.javaVersion }}
        run: mvn -B clean install
